.Rproj.user
.Rhistory
.RData
.Ruserdata
processed-data/community_matrix/phylogenetic_metrics/mean_beta_components_100.RData
processed-data/dataselection_spatial-errors/occ_orchid_dups.csv
processed-data/dataselection_spatial-errors/orchid-clear-ala.csv
processed-data/dataselection_spatial-errors/orchid-clear-gbif.csv
processed-data/dataselection_spatial-errors/final-occ-orchid.csv
processed-data/dataselection_taxonomic-standard/orchids_native_range.csv
processed-data/dataselection_taxonomic-standard/occ_final.csv
processed-data/drivers_bioregionalisation/pairs_df.RData
raw-data/CHELSA/CHELSA_bio12_1981-2010_V.2.1.tif
raw-data/CHELSA/CHELSA_bio15_1981-2010_V.2.1.tif
raw-data/CHELSA/CHELSA_bio1_1981-2010_V.2.1.tif
raw-data/CHELSA/CHELSA_bio4_1981-2010_V.2.1.tif
raw-data/CHELSA/CHELSA_PMIP_CCSM4_BIO_01.tif
raw-data/CHELSA/CHELSA_PMIP_CCSM4_BIO_12.tif
raw-data/CHELSA/elevation_1KMmd_GMTEDmd-2.tif
raw-data/gbif/0052485-241126133413365.csv
raw-data/rainbio_database-2/RAINBIO.csv
raw-data/records-ALA-2025-04-29/records-2025-04-29.csv
